ul#nav {
	text-decoration: none;
	display: block;
	list-style-type: none;
	
}
body, a{
	text-decoration: none;
}
#logo {
	text-align: right;
}
body {
	margin-top: 0;
	margin-left: 20%;
	margin-right: 0;
	padding-top: 8px;
	width: 75%;
	padding-top: 0;
	padding-left: 5%;
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
	background: linear-gradient(135deg,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
ul {
	list-style-type: none;
}
#padding {
	padding-top: 8px;
}

ul#menu{
	padding-top: 10;
	height: 100%;
	position: fixed;
	left: 0px;
	margin-top: 0;
	list-style-type: none;
	text-align: center;
	-webkit-padding-start:0px;
	width: 20%;
}
ul#menu li {
	padding: 2%;
	text-align: left;
	display: block;
}
a{
	text-decoration: none;
	color:#000;
}
ul#menu > ul > li {
	padding: 0;
	text-align: center;
}
ul#menu li ul {
	-webkit-padding-start:0px;
	margin-top: 2%;
	background-color: #FFF;
	color: #000;
}
ul#menu li ul li {
	display: block;
}
.hasChild:before {
	content: ' ►';
}
.special:before {
    content: ' ▼';
}
#commandinfo {
    color:#000099;
    position: relative;
    right:-20px;
}
#commandtable {
	padding: 5px;
    display: table; 
    width: inherit; 
    table-layout: fixed; 
    position: absolute;
}
#fixedArea {
    position: relative;
    width:inherit;
}
#reply {
	top: 20px;
}
#textarea {
	padding-top: 20px;
	position: fixed;
}
textarea {
	background-color: #000;
	color:#FFF;
}